
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
    Nota: posible maneras de comentar dentro del área del template

     /* C# comment */
    // Another C# comment

    Fuera del área del template los comentarios tienen que ser html
    <!-- HTML comment --> también funcionan los comentarios html
*@

<!-- Declaro que el modelo de esta vista (sus datos) son una lista de objetos vehiculo
    Observar que esta lista es pasada como parámetro desde el Controlador
-->
@model IEnumerable<_01_3_webAppEjemplo.Models.Vehiculo>

@{
   
}

<h1>Lista de Vehículos</h1>
<p>
    <a asp-action="Crear">Crear nuevo Vehículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!-- 
                Html es un helper de ASP.NET Core que permite generar código html
                
                El nombre del cabezal de la columna lo saca del nombre del atributo
                Simplemente podría escribir el nombre de la columna como se hace en Año fabricación -->
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                <!-- A modo de ejemplo aqui simplemente escribrí el nombre de la columna
                sin pedirle al modelo el valor  -->
                Año de Fabricación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            // notese que Model está definido en @Model y es una lista de vehiculos
            <tr>
                <td>
                    <!-- notese que el compilador reconoce que Matricula es un atributo valido del modelo  -->
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnioFabricacion)
                </td>
                <td>
                    <!-- observar que no se indica el asp-controller 
                        (como si se indica en la vista Home )
                        ya que se asume que el controller es el de la vista actual -->
                    <a asp-action="Editar" asp-route-id="@item.Matricula">Editar</a> |
                    <a asp-action="Ver" asp-route-id="@item.Matricula">Ver</a> |
                    <a asp-action="Borrar" asp-route-id="@item.Matricula">Borrar</a>

                    <!-- observar como se generar los link en el codigo html renderizado, 
                        por ejemplo
                    <a href="/Vehiculo/Borrar/BAA%201111">Borrar</a> -->
                </td>
            </tr>
        }
    </tbody>
</table>


